.navbar_spacing{
    flex: 1 1 auto;
}
h2 {
    float: right;
    margin-left: 40px;
    padding-right: 40px;
}
.nav_background{
    background-color: rgb(243, 209, 19);
}

.nav_text_color{
    color: rgb(0, 0, 0);
}

.nav_text_color :hover{ 
    color: white;
}